* {
    box-sizing: border-box;
}
.headeris1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 140px;
    background: rgba(85, 100, 240, 0.815);
    padding-bottom: 10px;

}
.headerio1-dalis{
    display: flex;
    flex-wrap: wrap;
   
 align-content: space-around;
    justify-content: end;
    width: 33%;
   }
.hederio1-mygtukai{
    display: flex;
    align-items: center;
    height: 30px;
    flex-grow: 3;
    border-right: 1px solid white;
    color: white;
    }
.hederio1-vidurys{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 36px;
     color: white;
     margin-top: 5px;
}
#uZRASAS{
    color: rgba(238, 235, 235, 0.795);
}

.hederio1-krastas{
    display: flex;
  margin-left: 20px;
  margin-left: 20px;
    height: 30px;
    width: 100px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
   
}
.mygtuko-nuoroda{
    height: 30px;
    width: 100px;
    display: block;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}
.mygtuko-nuoroda1{
    height: 30px;
    display: block;
     text-decoration: none;
    color: white;
    margin-top: 15px;
}
.hederis2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: rgb(18, 18, 139);
    border-left: 1px solid rgb(38, 86, 241);
    border-right:1px solid rgb(38, 86, 241);
   }
   #mYGTUKO-SPALVA{
       background: rgb(10, 10, 110);
   }
.hederio2-mygtukai{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-grow: 6;
    height: 60px;
    border-left: 1px solid rgb(38, 86, 241);
    border-right:1px solid rgb(38, 86, 241);
    color: white;
    }
    .nuoroda{

        line-height: 60px;
        display: block;
        color: white;
        text-decoration: none;
        align-items: center;
        

 }
 .foto{
    
     width: 100%;
    z-index: 0;
    }


 .sukis{
     display: flex;
     align-items: center;
   
     background: rgba(150, 221, 35, 0.959);
     height: 100px;
     color: white;
     border-top: 15px solid white;
     margin-left: 10px;
     margin-right: 10px;
 }
 .sukis-text{
     display: flex;
    
   align-items: flex-start;
     
     width: 399px;

 }
 .sukis-nuoroda{
     display: block;
     width: 399px;
    height: 100px;
    text-decoration: none;
    text-align: center;
    color: white;
     margin-top: 25px;
   
    

 }
 
    .korteliu-remas{
     display: flex;
     flex-wrap: wrap;
     width: 100%;
      background: white;
 }
 .korteles1{
     display: flex;
     align-content: center;
     flex-wrap: wrap;
     text-align: justify;
      width: 30%;
     height: 210px;
     background: rgb(206, 197, 197);
   margin-top: 15px;
   margin-left: 15px;
   
  
 }
 .nuoroda-kvadratu{
     display: block;
     
     height: 60px;
     width: 30%;
    text-decoration: none;
    margin-left: 25px;
    color: rgba(85, 100, 240, 0.815);

   
 }
 .kortele1-tekstas{
     display: block;
     flex-wrap: wrap;
  text-align: center;
  padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
    
}
#teksto-spalva{
    color: rgb(139, 139, 134);
}
 
 #spalvos1{
    background: rgb(118, 3, 172);
 }
 #spalvos2{
    background: rgba(85, 100, 240, 0.815);
 }
  #spalvos3{
     background: white
 }
 .kvadrato-virsus-apacia{
     display: flex;
     margin: 0%;
     padding-top: 0%;
     width: 100%;
     height: 20pxpx;

 }
 .kvadrato-vidurys{
    display: flex;
    width: 100%;
    height: 80pxpx;
 }
 .mazas-kvadratas{
     display: flex;
    align-content: space-between;
    
     flex-direction: row;
     
     width: 60px;
     height: 60px;
     border: 1px solid blue;
     border-radius: 5px;
     margin: 5px;
 }
 .tekstas{
     display: flex;

     height: 60px;
     width: 130px;
     text-align: center;
     line-height: 0.8;
 }

 .mygtukai{
     display: flex;
     flex-grow: 1;
     
     justify-content: center;
     align-items: center;
     width: 15%;
     height: 40px;
     border: 1px solid rgba(85, 100, 240, 0.815);
     border-radius: 3px;
     color: rgba(85, 100, 240, 0.815);;
     
     margin-bottom: 15px;
     margin-left: 15px;
     margin-right: 15px;
     margin-top: 15px;

 }
 .nuoroda-kvadratu1{
    display: block;
    line-height: 0.9;
   text-align: start;
     
    height: 60px;
    width: 90%;
   text-decoration: none;
   margin-left: 25px;
   color: white
}
 .nuoroda-mygtuku2{
     display: block;
     width: 10%;
     height: 40px;
     
     
 }
.footeris{
    display: flex;
    width: 100%;
    height: fit-content;
    background: grey;

    }
    .navigacija{
        display: flex;
        flex-direction: column;
        width: 25%;
        color: white;
        margin: 10px;
        opacity: 0.5;
    }
    .navigacija1{
        display: flex;
        width: 100%;
        height: 60px;
        background: gray;
        border-top: 2px solid wheat;
    }