* {
    box-sizing: border-box;
}
.headeris1{
    display: flex;
    width: 100%;
    height: 80px;
    background: rgb(46, 46, 255);

}
.headerio1-dalis{
    display: flex;
    align-items: center;
    flex-grow: 4;
    width: 33%;
    align-items: center;
}
.hederio1-mygtukai{
    display: flex;
    flex-grow: 3;
    border: 1px solid black;
    color: white;
}
.hederio1-vidurys{
     display: flex;
     height: 50px;
    width: 100%;
    border: 1px solid black;
    
    color: white;
}

.hederio1-krastas{
    display: flex;
    align-items: center;
    text-align: center;
     width: 60px;
    height: 30px;
    border: 1px solid white;
    border-radius: 4px;
}
.hederis2{
    display: flex;
   justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background: rgb(18, 18, 139);
    border-left: 1px solid rgb(38, 86, 241);
    border-right:1px solid rgb(38, 86, 241);
   }
.hederio2-mygtukai{
    display: flex;
    align-items: center;
    flex-grow: 0;
    height: 60px;
    border-left: 1px solid rgb(38, 86, 241);
    border-right:1px solid rgb(38, 86, 241);
    color: white;
 }
 .foto{
    display: flex;
    
 }
 .sukis{
     display: flex;
     
     background: rgba(113, 255, 47, 0.747);
     height: 90px;
     color: white;
     border-top: 15px solid white;
 }
 .sukis-text{
     display: flex;
     align-items: center;
     width: 50%;
 }
 
    
     
 
 .korteliu-remas{
     display: flex;
     flex-wrap: wrap;
     width: 100%;
      background: white;
 }
 .korteles1{
     display: flex;
     width: 30%;
     height: 210px;
     background: rgb(206, 197, 197);
   margin-top: 15px;
   margin-left: 15px;
     
 }
 
 #spalvos1{
    background: rgb(118, 3, 172);
 }
 #spalvos2{
    background: rgb(36, 56, 236);
 }
  #spalvos3{
     background: red;
 }
 .mygtukai{
     display: flex;
     flex-grow: 1;
     
     align-items: center;
     width: 15%;
     height: 40px;
     border: 1px solid blue;
     margin-bottom: 15px;
     margin-left: 15px;
     margin-right: 15px;
     margin-top: 15px;
 }
.footeris{
    display: flex;
    width: 100%;
    height: fit-content;
    background: grey;

    }
    .navigacija{
        display: flex;
        flex-direction: column;
        width: 25%;
        color: white;
        margin: 10px;
    }
    .navigacija1{
        display: flex;
        width: 100%;
        height: 60px;
        background: gray;
        border-top: 2px solid wheat;
    }