* {
    box-sizing: border-box;
}
.headeris1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    background: rgb(46, 46, 255);
    padding-bottom: 10px;

}
.headerio1-dalis{
    display: flex;
    flex-wrap: wrap;
   
 align-content: space-around;
    justify-content: end;
    width: 33%;
   
   
   
}
.hederio1-mygtukai{
    display: flex;
    align-items: center;
    height: 30px;
   
    flex-grow: 3;
    
    border-right: 1px solid white;
    color: white;
    
}
.hederio1-vidurys{
     display: flex;
     align-items: center;
     justify-content: center;
    
     width: 100%;
     height: 36px;
     color: white;
}
#uZRASAS{
    color: rgba(238, 235, 235, 0.795);
}






.hederio1-krastas{
    display: flex;
  margin-left: 20px;
  margin-left: 20px;
    height: 30px;
    width: 100px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
   
}
.mygtuko-nuoroda{
    height: 30px;
    width: 100px;
    display: block;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}
.hederis2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: rgb(18, 18, 139);
    border-left: 1px solid rgb(38, 86, 241);
    border-right:1px solid rgb(38, 86, 241);
   }
   #mYGTUKO-SPALVA{
       background: rgb(10, 10, 110);
   }
.hederio2-mygtukai{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-grow: 6;
    height: 60px;
    border-left: 1px solid rgb(38, 86, 241);
    border-right:1px solid rgb(38, 86, 241);
    color: white;
    }
    .nuoroda{

        line-height: 60px;
        display: block;
        color: white;
        text-decoration: none;
        align-items: center;
        

 }
 .foto{
     display: flex;
     width: 800px;
     height: 251px;
     margin-left: 10px;
     margin-right: 10px;
     margin-left: 10px;
     margin-right: 100px;
     margin-top: 30px;
    }


 .sukis{
     display: flex;
     
     background: rgba(113, 255, 47, 0.747);
     height: 90px;
     color: white;
     border-top: 15px solid white;
     margin-left: 10px;
     margin-right: 10px;
 }
 .sukis-text{
     display: flex;
     justify-content: center;
     width: 50%;
 }
 
    .korteliu-remas{
     display: flex;
     flex-wrap: wrap;
     width: 100%;
      background: white;
 }
 .korteles1{
     display: flex;
     width: 30%;
     height: 210px;
     background: rgb(206, 197, 197);
   margin-top: 15px;
   margin-left: 15px;
  
     
 }
 
 #spalvos1{
    background: rgb(118, 3, 172);
 }
 #spalvos2{
    background: rgb(36, 56, 236);
 }
  #spalvos3{
     background: red;
 }
 .mygtukai{
     display: flex;
     flex-grow: 1;
     
     justify-content: center;
     align-items: center;
     width: 15%;
     height: 40px;
     border: 1px solid blue;
     margin-bottom: 15px;
     margin-left: 15px;
     margin-right: 15px;
     margin-top: 15px;
 }
.footeris{
    display: flex;
    width: 100%;
    height: fit-content;
    background: grey;

    }
    .navigacija{
        display: flex;
        flex-direction: column;
        width: 25%;
        color: white;
        margin: 10px;
        opacity: 0.5;
    }
    .navigacija1{
        display: flex;
        width: 100%;
        height: 60px;
        background: gray;
        border-top: 2px solid wheat;
    }